<% flash.each do |key, msg| %>
    <%= content_tag :div, msg, :id => key, :class => 'btn-warning span4' %>
    <br>
    <hr>
<% end %>
<% @my_folders.each do |fld| %>
    　<ul class='thumbnail span3' style="text-align: center;">
        <ul id="menu">
          <li class="menu_img">
            <%= image_tag 'menu_icon.png' %>
            <ul>
              <li>フォルダ名変更
               <ul>
                 <li>
                   <br>
                   <%= form_tag({:controller => 'folders', :action => 'change_name'}, remote:true) do %>
                     <%= text_field_tag 'new_fld_name', '' %>
                     <%= hidden_field_tag 'fld', value = fld.id %>
                     <%= submit_tag '変更' %>
                   <% end %>
                 </li>
               </ul>
              </li>
              <li><a href="#">公開範囲変更</a></li>
              <li>一括移動
                <ul>
                  <li>
                    <br>
                    <%= form_tag({controller: 'folders', action: 'all_move', fld: fld.id, method: 'post'}, remote:true,
                                 :confirm => 'このフォルダのファイルをすべて指定したフォルダに移動します。よろしいですか？') do %>
                      <% move_options = Hash.new %>
                      <% @my_folders.each do |folders| %>
                        <% move_options.store(folders.name, folders.id) %>
                      <% end %>
                      <%= select_tag 'move_to', options_for_select(move_options, selected: @my_folders.first.name) %>
                      <%= submit_tag '一括移動' %>
                    <% end %>
                  </li>
                </ul>
              </li>
              <li>フォルダ削除
                <ul>
                  <li class="span2">
                    <br>
                      <%= button_to('削除', {:controller => 'folders', :action => 'destroy', :id => fld.id},
                                           :remote => true, :method => :delete,
                                           :confirm => 'フォルダを削除します。よろしいですか？') %>
                  </li>
                 </ul>
              </li>
            </ul>
            <br>
          </li>
        </ul>
        <%= link_to image_tag(url_for(:action => "get_folder_thumb", :fld => fld),  :border => '0'),
                              {:controller => 'folders', :action => 'detail_upload', :fld => fld}, :method => 'post' %>
        <br>
        <%= link_to fld.name,
                    {:controller => 'folders', :action => 'detail_upload', :fld => fld}, :method => 'post' %>
      </ul>
  <% end %>
