<!DOCTYPE html>
<html lang="en">
<head>
  <title>Winspector</title>
  <%= stylesheet_link_tag    "photoframe/galleria.classic", :media => "all" %>
  <%= javascript_include_tag "jquery", "photoframe/galleria-1.2.8.min" %>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">
  <style>
      html,body{background:#222;margin:0;}
      body{border-top:4px solid #000;}
      .content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:640px;margin:20px auto;}
      h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
      p{margin:0 0 20px}
      a {color:#22BCB9;text-decoration:none;}
      .cred{margin-top:20px;font-size:11px;}
      #galleria{height:480px}
  </style>

</head>

<body class="<%= controller.controller_name %>">

<%= yield %>

<%= javascript_include_tag "photoframe/slideshow_all" %>

</body>
</html>
